<form class="department-form" (ngSubmit)="saveChanges()">
  <button type="button" class="close-btn" mat-icon-button (click)="closeTab()">
    <mat-icon>close</mat-icon>
  </button>

  <div class="form-group">
    <label for="departmentName">Nombre del Departamento:</label>
    <input type="text" id="departmentName" [(ngModel)]="departmentName" name="departmentName" required />
  </div>

  <div class="form-group">
    <label for="description">Descripción:</label>
    <textarea id="description" [(ngModel)]="description" name="description" required class="description-textarea"></textarea>
  </div>



  <div class="form-group">
    <label for="responsible">Responsable:</label>
    <select
      id="responsible"
      [(ngModel)]="responsible"
      name="responsible"
      required
    >
    <option value="" disabled selected>Seleccionar responsable</option>
    <option value="unassigned">Sin asignar</option>

      <option *ngFor="let user of responsibleUsers" [value]="user.name">
        {{ user.name }} <!-- Muestra el nombre del usuario -->
      </option>
    </select>
  </div>


  <div *ngIf="!department.isAdmin">
    <div class="form-group">
      <label for="isActive">Activo:</label>
      <input type="checkbox" id="isActive" [(ngModel)]="isActive" name="isActive" />
    </div>
  </div>


  <button type="submit" class="submit-btn">Actualizar</button>
</form>
