/* Encabezado de Tickets */
.ticket-header {
  position: relative;
  background-color: #d42d2d; /* Fondo rojo */
  color: white;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 20px;
}
.filter-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;

  border-radius: 5px;
  background-color: #f9f9f9;
}

.filter-title {
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  font-weight: bold;
  color: #333;
}

.input-group {
  display: flex;
  gap: 10px;
}

.custom-date-input {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.ticket-header h2 {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  margin-top: 6px;
  margin-bottom: 6px;
}

/* Botón de volver */
.ticket-header .back-button {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  color: white;
  border: none;
  padding: 8px;
}

.ticket-header .back-button mat-icon {
  font-size: 30px;
}

.ticket-header .back-button:hover mat-icon,
.ticket-header .back-button:focus mat-icon {
  color: #ffdfdf; /* Cambio de color en hover */
}



.ticket-list {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-actions {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

/* Contenedor de la barra de búsqueda */
.google-search-bar {
  max-width: 600px;
  border: 1px solid #dcdcdc;
  border-radius: 25px;
  background-color: #f1f3f4;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center; /* Alinea los elementos al centro verticalmente */
}
/* Elimina el borde en el campo de texto cuando está en foco */
.google-search-bar .form-control:focus {
  border: none; /* Elimina el borde de foco */
  outline: none; /* Elimina el contorno de foco */
}
/* Barra de entrada de texto */
.google-search-bar .form-control {
  border: none;
  background-color: transparent;
  padding-left: 20px;
  font-size: 16px;
  height: 100%;
  border-radius: 25px 0 0 25px;
  padding-right: 50px; /* Espacio para el botón */
  flex-grow: 1; /* Permite que el input ocupe el espacio disponible */
}

/* Estilo y posicionamiento del botón */
.google-search-bar .btn {
  border: none;
  border-radius: 0 25px 25px 0;
  background-color: #f1f3f4;
  font-size: 20px;
  padding: 0 15px;
  position: absolute;
  right: 0; /* Lo coloca al final de la barra */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Responsividad - Asegura que el input no se sobrepase */
@media (max-width: 768px) {
  .google-search-bar {
    max-width: 100%;
  }
}


.header {
  display: flex;
  align-items: center;
  background-color: #d32f2f;
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 10px 20px;
  width: 100%;
}

.header-title {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #f6f4f4;
  text-transform: uppercase;
  margin: 0;
  flex-grow: 1; /* Esto permite que el título ocupe todo el espacio restante */
  text-align: center; /* Centra el título en el espacio disponible */
}

.header button {
  color: #f6f4f4;
  margin-right: auto; /* Esto alinea el botón a la izquierda */
}

/* Estilos para los selectores */
.custom-select {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.custom-select:focus {
  border-color: #007bff;
  outline: none;
}

.custom-date-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
  transition: border-color 0.3s;
}

.custom-date-input:focus {
  border-color: #007bff;
  outline: none;
}

/* Estilos para los badges de estado */
.status-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
  min-width: 70px;
  text-align: center;
}

.status-badge:not(:last-child) {
  margin-right: 8px; /* Ajusta el valor según el espacio deseado */
}

.status-active {
  background-color: #4caf50;
}

.status-inactive {
  background-color: #f44336;
}

/* Colores específicos para cada estado */
.status-en_cumplimiento {
  background-color: #ffa726;
}

.status-en_progreso {
  background-color: #42a5f5;
}

.status-finalizado {
  background-color: #9e9e9e;
}

.ticket-items {
  list-style-type: none;
  padding: 0;
}

.ticket-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f6f4f4;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ticket-item .ticket-info {
  flex: 1;
}

.ticket-item h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ticket-item mat-icon {
  font-size: 24px;
  color: #d32f2f;
}

.ticket-item p {
  margin: 5px 0 0;
  color: #000000;
}

.ticket-item .ticket-actions button {
  margin-left: 10px;
}

.ticket-item .ticket-actions mat-icon {
  font-size: 20px;
}
.status-container + div {
  margin-top: 5px; /* Ajusta el valor según el espacio deseado */
}
